*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../nsu.jpg);
  height: 125vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
}
ul li a:hover{
  background-color: yellow;
  color:#000;
}
ul li.active a{
  background-color: yellow;
  color:#000;
}
.logo img{
  float: left;
  width: 200px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;
}
.LogIn{
  border: solid greenyellow 3px;
  width: 20%;
  border-radius: 5px;
  margin:100px auto;
  background: #8FBC8F;
  float: left;
  padding: 50px;
}
.btn{
  color: #fff;
  background: olive;
  padding: 5px;
  margin-left: 65%;
}
